:root {
  --primary: rgb(0, 171, 225);
  --bg: rgba(22, 31, 109, 0.9);
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Kevin Marbun";
}
@font-face {
  font-family: "Kevin Marbun";
  src: url(font/Cantarell-Regular.ttf);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 5%;
  opacity: 0.9;
  background-color: white;
  box-shadow: 0 0 4px rgba(11, 125, 160, 1);
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
}
.navbar-logo {
  color: black;
  font-size: 20px;
  text-shadow: 0 1px 4px rgba(136, 127, 127, 1);
}
.navbar-logo span {
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 4px rgba(136, 127, 127, 1);
  font-weight: bold;
}
.navbar-nav a {
  margin-right: 50px;
  color: black;
  transition: 0.3s;
  display: inline-block;
}
.navbar-nav a:hover {
  color: rgba(0, 171, 225, 1);
}
.navbar-nav a::after {
  content: "";
  display: block;
  border-bottom: 2px solid rgba(0, 171, 225, 0.8);
  padding-bottom: 2px;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar-nav a:hover::after {
  transform: scaleX(0.5);
}
.navbar-ekstra a {
  color: rgb(0, 0, 0);
  display: none;
  transform: scale(1.2);
}
.navbar-ekstra a:hover {
  color: rgba(0, 171, 225, 1);
  transform: scale(1.4);
}

/* hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--bg);
}

/* content */
section h1 {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
section .span1 {
  color: var(--primary);
}

section span {
  color: white;
  text-shadow: 0 1px 4px rgba(136, 127, 127, 0.8);
}
.content {
  margin-top: -60px;

  padding: 40px;
  max-width: 1090px;
}

main p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
}
.content a {
  padding: 10px 30px;
  border: 1px solid var(--primary);
  border-radius: 3px;
  display: inline-block;
  margin-top: 12px;
  transform: scale(0.9);
  background-color: rgba(0, 171, 225, 0.8);
  color: white;
  font-size: 12px;
}
section .content a:hover {
  transform: scale(1);
}
section h2 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  text-shadow: 0 1px 4px rgba(136, 127, 127, 0.8);
  padding-top: 80px;
}
.about {
  min-height: 60vh;
  text-align: center;
}
.about p {
  padding: 20px;
  font-size: 13px;
  justify-content: center;
}
/* .icon {
  width: 100%;
  text-align: center;
}
.icon a {
  display: inline-block;
  color: var(--bg);
  font-size: 16px;
  padding: 7px;
  margin-right: 10px;
  opacity: 0.8;
  transform: scale(1);
  transition: 0.3s;
}
.icon a:hover {
  transform: scale(1.2);
  opacity: 1;
} */

.about span {
  color: white;
}

.media-social-about .facebook,
.instagram,
.whatsapp {
  box-shadow: 0px 1px 3px black;
  margin: auto;
  width: 50%;
}

.kegiatan_kami {
  text-align: justify;
  padding: 40px 5%;
  color: black;
  align-items: center;
}
.kegiatan_kami .row {
  display: flex;
}
.kegiatan_kami h2 {
  padding-top: 50px;
  padding-bottom: 70px;
}
.kegiatan_kami h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}
.kegiatan_kami p {
  line-height: 26px;
  font-size: 13px;
}
.kegiatan_kami {
  flex: 1 1 400px;
}
.kegiatan-img img {
  width: 100%;
}
.content {
  flex: 1 1 200px;
}
/* kontak */
.kontak {
  min-height: 120vh;
  display: flex;
  align-items: center;
  background-color: var(--bg);
}
.kontak .container {
  margin: auto;
}
.kontak h1 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
  text-shadow: 0 1px 4px rgba(136, 127, 127, 1);
  color: black;
}
.kontak span {
  color: white;
  text-shadow: 0 1px 4px rgba(136, 127, 127, 1);
}
.kontak h1::after {
  content: "";
  display: block;
  border-bottom: 4px solid white;
  padding-bottom: 15px;
  transform: scaleX(0.3);
}
.kontak p {
  font-size: 13px;
  color: white;
  text-align: center;
  padding: 5px 20px;
  padding-bottom: 20px;
}
.kontak_field {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  width: 80%;
  padding: 2px 25px;
  padding-bottom: 25px;
  margin: auto;
  margin-top: 10px;
  color: black;
}
.kontak_field label {
  margin-top: 20px;
  display: block;
}
.form-input {
  width: 100%;
  padding: 12px;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 4px;
  color: #777;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
}
.media-sosial h4 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.media-sosial a {
  margin: 5px 15px;
  padding: 5px;
  color: white;
}
.links p {
  word-spacing: 3px;
}
.links a {
  color: white;
  opacity: 0.7;
  letter-spacing: 2px;
}
.links a:hover {
  opacity: 1;
  text-shadow: 0px 1px 6px white;
}

/* .kegiatan_kami .container {
  width: 88%;
  position: relative;
  height: 600px;
  margin: auto;
  align-content: center;
} */

/* media queries */

/* laptop */
@media (max-width: 1024px) {
  html {
    font-size: 87.5%;
  }
}
/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 73.5%;
  }
  #humburger-menu {
    display: inline-block;
  }
  .navbar-nav {
    position: absolute;
    top: 65px;
    right: -100%;
    height: 200px;
    border-radius: 5px;
    width: 180px;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.3s;
  }
  .navbar-nav a {
    padding-top: 20px;
    padding: 10px;
    font-size: 14px;
  }
  .navbar-nav.active {
    right: 30px;
    box-shadow: 0 1px 2px black;
  }
  .navbar-nav a::after {
    transform-origin: 0 0;
  }
}
.kegiatan_kami .row {
  flex-wrap: wrap;
}

/* phone */
@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
  .hero {
    margin-top: 60px;
  }
  .kegiatan_kami {
    text-align: center;
  }
  .kegiatan_kami img {
    width: 300px;
  }
}

/* @keyframes animasi {
  0% {
    color: rgba(255, 255, 255, 0.8);
  }
  100% {
    color: rgba(255, 255, 255, 1);
  }
} */
